<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>  
		<title>Administracion de Areas</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div>
    		<header>
    			<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    				<div class="container-fluid">
    					<div class= "navbar-header">
    						<button type="button" class="navbar-toggle collapsed" data-toggle="collpse" data-target="#navbar-1">
    							<span class="sr-only">Menu</span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>    							
    						</button>
    						<a href="/" class="navbar-brand">Uacm</a>
    					</div>
    					<div class="collapse navbar-collapse" id="navbar-1">
    						<ul class="nav navbar-nav">
    							<li ><a href="/reservacion" >Rerservacion</a></li>
    							<li ><a href="/sitio">Sitio</a></li>
    							<li ><a href="/reportes" >Reportes</a></li>
    							<li class= "active"><a >Areas</a></li>
    						</ul>
    					</div>
    				</div>
    			</nav>
    		</header>
    	</div>
</body> 
</html>