<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta charset="utf-8"/>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
    	<div>
    		<header>
    			<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    				<div class="container-fluid">
    					<div class= "navbar-header">
    						<button type="button" class="navbar-toggle collapsed" data-toggle="collpse" data-target="#navbar-1">
    							<span class="sr-only">Menu</span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>    							
    						</button>
    						<a class="navbar-brand">UACM</a>
    					</div>
    					<div class="collapse navbar-collapse" id="navbar-1">
    						<ul class="nav navbar-nav">
    							<li ><a href="/reservacion" th:action="@{/reservacion}">Rerservacion</a></li>
    							<li><a href="/sitio">Sitio</a></li>
    							<li><a href="/reportes">Reportes</a></li>
    							<li><a href="/area" >Areas</a></li>
    						</ul>
    					</div>
    				</div>
    			</nav>
    		</header>
    	</div>
    	<div class="container">
    		<div class="row">
    		<h1>Reservacion de Aulas<small>   UACM STL</small></h1>
    		</div>
    	</div>
    	   	<div class="container">
    		<div class="col-md-12">
    			<div id="carousel-1" class="carousel slide" data-ride="carousel">
    				<ol class="carousel-indicators">
    					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
    					<li data-target="#carousel-1" data-slide-to="1"></li>
    					<li data-target="#carousel-1" data-slide-to="2"></li>
    				</ol>
    				<div class ="carousel-inner" role="listbox">
    					<div class = "item active">
    						<img src="image/uacm1.jpg" class = "img-resposive"></img>
    					</div>
    					<div class = "item">
    						<img src="image/uacm2.JPG" class = "img-resposive" ></img>
    					</div>
    					
    					<div class = "item">
    						<img src="image/uacm3.jpg" class = "img-resposive" ></img>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	
    
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    	
    </body>
</html>
 