<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
		<title>Administracion de Sitios</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.js}"/>
</head> 
<body>
		<div>
    		<header>
    			<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    				<div class="container-fluid">
    					<div class= "navbar-header">
    						<button type="button" class="navbar-toggle collapsed" data-toggle="collpse" data-target="#navbar-1">
    							<span class="sr-only">Menu</span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>
    							<span class="icon-bar"></span>    							
    						</button>
    						<a href="/" class="navbar-brand">Uacm</a>
    					</div>
    					<div class="collapse navbar-collapse" id="navbar-1">
    						<ul class="nav navbar-nav">
    							<li ><a href="/reservacion" >Rerservacion</a></li>
    							<li class= "active"><a>Sitio</a></li>
    							<li><a href="/reportes" >Reportes</a></li>
    							<li><a href="/area" >Areas</a></li>
    						</ul>
    					</div>
    				</div>
    			</nav>
    		</header>
    	</div>
    	
		<div class="container">
    		<div class="row">
    		<h1>Universidad Autónoma de la Ciudad de México<small>   UACM STL</small></h1>
    		</div>
    	</div>
    	
    	<div class="container">
			<div class ="row">
				<h3>Administracion de Sitios<small>     Agregar</small></h3>
			</div>
		</div>
		
		<div class="container">
		<br></br>
			<form method="post" th:action="@{/recibirSitio}">
				<div class="form-grup">
					<label for = "nombre">Nombre sitio:</label>
					<input class="form-control" type="text"  placeholder="Nombre del sitio a registrar" name="nombre" required="required"/>
				</div>
				
				<div class="form-grup">
					<label for = "tipo">Tipo:</label>
					<select class="form-control" name="tipo">
 						<option value="EDIFICIO">EDIFICIO</option>
  						<option value="OTROS">OTROS</option>
  					</select>
  				</div>
  				
  				<div class="form-grup">
					<label for = "capacidad">Capacidad:</label>
					<input class="form-control" type="text"  placeholder="Capacidad del sitio a registrar" name="capacidad" required="required"/>
				</div>
				
				<div class="form-grup">
					<label for = "Descripcion">Descripcion:</label>
					<input class="form-control" type="text"  placeholder="Descripcion del sitio es opcional" name="descripcion" required="required"/>
				</div>
  				
  				<div class="form-grup">
					<br></br>
					<input class="btn btn-lg  btn-primary" type="submit" value="Registrar"/>
				</div>
				
			</form>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrapValidator.js"></script>
</body>
</html>